<div class="container">
  <div class="wrapper-login">
    <div class="row wrapper-login-content">
       <div class="col-lg-6 d-none d-lg-block img-login" style="--background: url('assets/images/img-left-login.png')">
         <div class="img-login-content">
           <p class="text">
            <!-- Plateforme de gestion intégrée des ressources humaines -->
            Système Intégré de Gestion des Ressources Humaines
           </p>
         </div>
       </div>

      <div class="col-lg-6 bg-grey p-5">
        <div class="card-form">
          <img src="assets/icons/logo-ministere.svg" id="logo" class="img-fluid" alt="SIGRH" title="SIGRH">
           <h3 class="logo-name">SIGRH</h3>
          <router-outlet>
          </router-outlet>

          <!-- <div class="col-lg-12"> -->
            <a routerLink="/" class="button-text">Aller vers le portail</a>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
