<div class="panel-form">
    <div class="panel-form-header">
        <div class="panel-form-text w-100">
            <h3>Information générale</h3>
        </div>
    </div>
    <div class="panel-list-body py-0">

        <div class="row details g-3">
            <div class="col-lg-4 col-sm-6">
                <div class="details-item">
                    <span>Nom de l'établissement</span>
                    <span>{{user?.etablissement?.label}}</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="details-item">
                    <span>Région</span>
                    <span>{{user?.region?.label}}</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="details-item">
                    <span>IA</span>
                    <span>{{user?.ia?.label}}</span>
                </div>
            </div>

            <ng-container *ngIf="user?.ief">
                <div class="col-lg-4 col-sm-6">
                    <div class="details-item">
                        <span>IEF</span>
                        <span>{{user?.ief?.label}}</span>
                    </div>
                </div>
            </ng-container>

            <div class="col-lg-4 col-sm-6">
                <div class="details-item">
                    <span>Prénom chef d'établissement</span>
                    <span>{{user?.prenom}}</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="details-item">
                    <span>Nom chef d'établissement</span>
                    <span>{{user?.nom}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-form mt-3" *ngIf="!isCreatedFiche">
    <div class="panel-list-body py-0">

        <div class="col-lg-12">
            <div class="empty-list shadow-none">
                <img src="assets/icons/empty-list.svg" alt="Aucune donnée disponible">
                <p>Aucune donnée disponible</p>
                <button class="button button-primary" type="button" (click)="onCreateFiche()">
                    Ajouter Fiche
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row g-3" *ngIf="isCreatedFiche">
    <div class="col-lg-12">
        <div class="panel-form mt-3 border-bottom-0 mb-0 pb-0">
            <div class="panel-form-header border-bottom-0 mb-0 pb-0">
                <div class="panel-list-text w-100 border-bottom-0 mb-0 pb-0">
                    <h3>Disciplines</h3>
                    <button class="button button-secondary" type="button" (click)="onAddFiliere()">
                        <i class="fa fa-add"></i>
                        Nouvelle Discipline
                    </button>
                </div>
            </div>
            <div class="panel-list-body py-0">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="onTabChange($event, false)">
                    <mat-tab label="Filière matière">
                        <div class="py-3">
                    <div class="table-responsive scrollable-table">
                    <table class="table table-custom table-form w-100">
                        <thead>
                            <tr class="table-light">
                                <th scope="col" *ngFor="let head of headersDisciplines">{{ head }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container
                                *ngIf="(ficheSnoptique?.filiereDisciplines && ficheSnoptique.filiereDisciplines.length > 0);else listEmpty;">
                                <ng-container *ngFor="let filiere of ficheSnoptique.filiereDisciplines; let i = index">
                                    <tr>
                                        <td [attr.rowspan]="filiere.disciplineQuantums.length + 1">
                                            {{ filiere?.filiere?.libelle }}
                                        </td>
                                        <td [attr.rowspan]="filiere.disciplineQuantums.length + 1">
                                            {{ filiere?.quantum }}
                                        </td>
                                        <td [attr.rowspan]="filiere.disciplineQuantums.length + 1">
                                            {{ filiere?.niveau?.libelle }}
                                        </td>
                                    </tr>
                                    <ng-container *ngFor="let discipline of filiere.disciplineQuantums">
                                        <tr>
                                            <td>
                                                {{ discipline?.discipline?.libelle }}
                                            </td>
                                            <td>
                                                {{ discipline?.quantum }}
                                            </td>
                                        <td>
                                                <div>
                                                    <!-- <button class="btn" type="button" (click)="openModal(EDITFILIERE, i, true)"><i
                                                            class="fa fa-edit text-blue"></i></button> -->
                                                    <button class="btn" type="button"
                                                        (click)="onDelete2(i, discipline.discipline.id, false)"><i
                                                            class="fa fa-trash text-danger"></i></button>
                                                </div>
                                            </td>
                                           
                                        </tr>
                                    </ng-container>
                                </ng-container>
                
                            </ng-container>
                            <ng-template #listEmpty>
                                <tr>
                                    <td [attr.colspan]="headersDisciplines.length">
                                        <p class="text-black-50 text-center m-0">Aucune donnée disponible
                                        </p>
                                    </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Séries">
                        <div class="py-3">
                            <div class="table-responsive scrollable-table">
                                <table class="table table-custom table-form w-100">
                                    <thead>
                                        <tr class="table-light">
                                            <th scope="col" *ngFor="let head of headersSeriesDisciplines">{{ head }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container
                                            *ngIf="(ficheSnoptique?.filiereDisciplines && ficheSnoptique.serieNiveauDisciplines.length > 0);else listEmpty;">
                                            <ng-container *ngFor="let filiere of ficheSnoptique.serieNiveauDisciplines; let i = index">
                                                <tr>
                                                    <td [attr.rowspan]="filiere.disciplineQuantums.length + 1">
                                                        {{ filiere?.serie?.libelle }}
                                                    </td>
                                                    <td [attr.rowspan]="filiere.disciplineQuantums.length + 1">
                                                        {{ filiere?.niveau?.libelle }}
                                                    </td>
                                                    

                                                    <td [attr.rowspan]="filiere.disciplineQuantums.length + 1">
                                                        {{ filiere?.quantum }}
                                                    </td>
                                                </tr>
                                                <ng-container *ngFor="let discipline of filiere.disciplineQuantums">
                                                    <tr>
                                                        <td>
                                                            {{ discipline?.discipline?.libelle }}
                                                        </td>
                                                        <td>
                                                            {{ discipline?.quantum }}
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <!-- <button class="btn" type="button" (click)="openModal(EDITFILIERE, i, true)"><i
                                                                        class="fa fa-edit text-blue"></i></button> -->
                                                                <button class="btn" type="button"
                                                                    (click)="onDelete2(i, discipline.discipline.id, true)"><i
                                                                        class="fa fa-trash text-danger"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                        
                                        </ng-container>
                                        <ng-template #listEmpty>
                                            <tr>
                                                <td [attr.colspan]="headersSeriesDisciplines.length">
                                                    <p class="text-black-50 text-center m-0">Aucune donnée disponible
                                                    </p>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel-form mt-3">
            <div class="panel-form-header border-bottom-0 mb-0 pb-0">
                <div class="panel-list-text w-100 border-bottom-0 mb-0 pb-0">
                    <h3>Classe</h3>
                    <button class="button button-secondary" type="button" (click)="onAddClasse()">
                        <i class="fa fa-add"></i>
                        Nouvelle Classe
                    </button>
                </div>
            </div>

            <div class="panel-list-body py-0">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start"  (selectedIndexChange)="onTabChange($event, true)">
                    <mat-tab label="Filière matière">
                        <div class="py-3">
                            <div class="table-responsive">
                                <table class="table table-custom table-form  w-100">
                                    <thead>
                                    <tr class="table-light">
                                        <th scope="col" *ngFor="let head of headersClasses">{{ head }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container
                                            *ngIf="(ficheSnoptique?.classeProfDisciplines && ficheSnoptique.classeProfDisciplines.length > 0);else listEmpty;">
                                    <ng-container *ngFor="let classe of ficheSnoptique?.classeProfDisciplines; let k=index;">
                                        <ng-container *ngFor="let professeur of classe?.profDiscipline; let i=index">
                                            <ng-container *ngFor="let discipline of professeur?.disciplineQuantums; let j=index">
                                                <tr>
                                                    <ng-container *ngIf="i === 0 && j === 0">
                                                        <td [attr.rowspan]="countRows(classe)">
                                                            {{ classe?.nomClasse }}

                                                        </td>
                                                        <!-- <td [attr.rowspan]="countRows(classe)">
                                                            {{ classe?.quantum }}
                                                        </td> -->
                                                    </ng-container>
                                                    <ng-container *ngIf="j === 0">
                                                        <td [attr.rowspan]="professeur?.disciplineQuantums?.length">
                                                            {{ professeur?.professeur?.prenom + ' ' +  professeur?.professeur?.nom}}
                                                        </td>
                                                        <td [attr.rowspan]="professeur?.disciplineQuantums?.length">
                                                            {{ professeur?.professeur?.quantumHoraire }}
                                                        </td>
                                                    </ng-container>
                                                    <td>
                                                        {{ discipline?.discipline?.libelle }}
                                                    </td>
                                                    <td>
                                                        {{ discipline?.quantum }}
                                                    </td>
                                                    <td>
                                                        <div>
                                                             <!-- <button class="btn" type="button" (click)="openModal(EDITCLASSE, k, false)"><i
                                                                    class="fa fa-edit text-blue"></i></button> -->
                                                             <button class="btn" type="button" (click)="onDelete(k,i,discipline.discipline.id, false)"><i
                                                                    class="fa fa-trash text-danger"></i></button>
                                                        </div>
                                                    </td>
                                                    
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    </ng-container>
                                    <ng-template #listEmpty>
                                        <tr>
                                            <td [attr.colspan]="headersClasses.length">
                                                <p class="text-black-50 text-center m-0">Aucune donnée disponible
                                                </p>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Séries">
                        <div class="py-3">
                            <div class="table-responsive scrollable-table">
                                <table class="table table-custom table-form w-100">
                                    <thead>
                                    <tr class="table-light">
                                        <th scope="col" *ngFor="let head of headersClassesSerie">{{ head }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container
                                            *ngIf="(ficheSnoptique?.serieClasseProfDisciplines && ficheSnoptique.serieClasseProfDisciplines.length > 0);else listEmpty;">
                                        <ng-container *ngFor="let classe of ficheSnoptique?.serieClasseProfDisciplines; let k=index;">
                                            <ng-container *ngFor="let professeur of classe?.profDiscipline; let i=index">
                                                <ng-container *ngFor="let discipline of professeur?.disciplineQuantums; let j=index">
                                                    <tr>
                                                        <ng-container *ngIf="i === 0 && j === 0">
                                                            <td [attr.rowspan]="countRows(classe)">
                                                                {{ classe?.nomClasse }}

                                                            </td>
                                                            <td [attr.rowspan]="countRows(classe)">
                                                                {{ classe?.serie?.libelle }}
                                                            </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="j === 0">

                                                            <td [attr.rowspan]="professeur?.disciplineQuantums?.length">
                                                                {{ professeur?.professeur?.prenom + ' ' +  professeur?.professeur?.nom}}
                                                            </td>
                                                            <td [attr.rowspan]="professeur?.disciplineQuantums?.length">
                                                                {{ professeur?.professeur?.quantumHoraire }}
                                                            </td>
                                                        </ng-container>
                                                        <td>
                                                            {{ discipline?.discipline?.libelle }}
                                                        </td>
                                                        <td>
                                                            {{ discipline?.quantum }}
                                                        </td>
                                                        <td>
                                                            <div>
                                                                 <!-- <button class="btn" type="button" (click)="openModal(EDITCLASSE, k, false)"><i
                                                                        class="fa fa-edit text-blue"></i></button> -->
                                                                 <button class="btn" type="button" (click)="onDelete(k,i,discipline.discipline.id, true)"><i
                                                                        class="fa fa-trash text-danger"></i></button>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <ng-template #listEmpty>
                                        <tr>
                                            <td [attr.colspan]="headersSeriesDisciplines.length">
                                                <p class="text-black-50 text-center m-0">Aucune donnée disponible
                                                </p>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>





<!-- Modal EDIT FILIERE-->
<ng-template #EDITFILIERE let-modal>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="filterAvancerLabel">Modifier Filière/Discipline</h1>
    </div>
    <div class="modal-body py-md-3">
        <form [formGroup]="filiereDisciplinesForm">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <label class="form-label">Filière</label>
                            <select class="form-select" formControlName="filiere">
                                <option value="">Sélectionner</option>
                                <option [value]="filiere.id" *ngFor="let filiere of listFilieres" >{{filiere?.libelle}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Quantum horaire Filière</label>
                            <input formControlName="quantum" type="number" min="0" class="form-control" [ngModel]="filiereDiscUpdate.quantum" placeholder="Saisir" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <h3 class="text-blue">Liste des disciplines</h3>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-custom table-form w-100">
                            <thead>
                                <tr class="table-light">
                                    <th scope="col" *ngFor="let head of headersDisciplinesUpdate">{{ head }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="filiereDiscUpdate.disciplineQuantums.length > 0;else listEmpty;">
                                    <ng-container >
                                        <tr>
                                            <td [attr.rowspan]="filiereDiscUpdate.disciplineQuantums.length + 1">
                                                {{ filiereDiscUpdate?.filiere?.libelle }}
                                            </td>
                                            <td [attr.rowspan]="filiereDiscUpdate.disciplineQuantums.length + 1">
                                                {{ filiereDiscUpdate?.quantum }}
                                            </td>
                                        </tr>
                                        <ng-container *ngFor="let discipline of filiereDiscUpdate.disciplineQuantums; let i = index">
                                            <tr>
                                                <td>
                                                    {{ discipline?.discipline?.libelle }}
                                                </td>
                                                <td>
                                                    <input type="number" min="0"
                                                        [value]="discipline.quantum"
                                                        class="form-control form-control-sm" style="width: 100px;"
                                                        (change)="quatumsValues( i, $event)">
                                                </td>
                                                <!-- <td>
                                                    <button class="btn" type="button" (click)="onDelete3()"><i
                                                            class="fa fa-trash text-danger"></i></button>
                                                </td> -->
                                            </tr>
                                        </ng-container>
                                    </ng-container>

                                </ng-container>
                                <ng-template #listEmpty>
                                    <tr>
                                        <td [attr.colspan]="headersDisciplines.length">
                                            <p class="text-black-50 text-center m-0">Aucune donnée disponible
                                            </p>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer justify-content-end align-items-end">
        <button type="button" class="button button-primary w-100" (click)="onSaveFiliere();">Enregistrer</button>
        <button type="button" class="button button-outline-primary w-100" (click)="modal.close('Save click')">
            Annuler
        </button>
    </div>
</ng-template>


<!-- Modal EDIT CLASSE-->
<ng-template #EDITCLASSE let-modal>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="filterAvancerLabel">Modifier Filière/Discipline</h1>
    </div>
    <div class="modal-body py-md-3">
        <form [formGroup]="classProfForm">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <label class="form-label">Nom classe</label>
                            <input formControlName="nomClasse" type="text" class="form-control"  [ngModel]="classProfDiscUpdate.nomClasse" />
                        </div>
                        <!-- <div class="col-lg-12">
                            <label class="form-label">Quantum horaire Classe</label>
                            <input formControlName="quantum" type="number" min="0" class="form-control"  [ngModel]="classProfDiscUpdate.quantum" />
                       
                        </div> -->
                        <!-- <div class="col-lg-12">
                            <label class="form-label">Professeur</label>
                            <tag-input  formControlName="professeur" [maxItems]="1" [ngModel]="selectedFormateurs" [placeholder]="'+ Nouveau Professeur'"
                                [secondaryPlaceholder]="'+ Nouveau Professeur'">
                                <tag-input-dropdown [autocompleteItems]="autocompleteFormateurs" [showDropdownIfEmpty]="true"
                                    [dynamicUpdate]="true">
                                </tag-input-dropdown>
                            </tag-input>
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label d-block">Disciplines</label>
                            <select formControlName="disciplines" id="selectDisciplineClasse" class="w-100" multiple title="Sélectionner..." data-width="auto"
                                data-live-search="true">
                                <option [value]="discipline" *ngFor="let discipline of listDisciplines">
                                    {{ discipline.libelle }}
                                </option>
                            </select>
                        </div> -->
                        <!-- <div class="col-lg-12">
                            <button type="button" class="button button-secondary w-100">Ajouter filière</button>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-12">
                    <!-- Table -->
                   <!-- Table -->
            <div class="table-responsive">
                <table class="table table-custom table-form  w-100">
                    <thead>
                        <tr class="table-light">
                            <th scope="col" *ngFor="let head of headersClasses2">{{ head }}</th>
                        </tr>
                    </thead>
                    <tbody>
                            <ng-container *ngFor="let professeur of classProfDiscUpdate.profDiscipline; let i=index">
                                <ng-container *ngFor="let discipline of professeur.disciplineQuantums; let j=index">
                                    <tr>
                                        <ng-container *ngIf="j === 0">
                                            <td [attr.rowspan]="professeur.disciplineQuantums.length">
                                                {{ professeur?.professeur?.prenom + ' ' + professeur?.professeur?.nom }}
                                            </td>
                                            <td [attr.rowspan]="professeur.disciplineQuantums.length">
                                                {{ professeur?.professeur?.quantumHoraire }}
                                            </td>
                                        </ng-container>
                                        <td>
                                            {{ discipline?.discipline?.libelle }}
                                        </td>
                                        <td>
                                            <input type="number" min="0"
                                                [value]="discipline.quantum"
                                                class="form-control form-control-sm"
                                                style="width: 100px;"
                                                (change)="quatumsValues2(i,j, $event)">
                                        </td>
                                       
                                    </tr>
                                </ng-container>
                            </ng-container>
                        
                        <ng-template #listEmpty>
                            <tr>
                                <td [attr.colspan]="headersClasses.length">
                                    <p class="text-black-50 text-center m-0">Aucune donnée disponible
                                    </p>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer justify-content-end align-items-end">
        <button type="button" class="button button-primary w-100" (click)="onSaveClasse();">Enregistrer</button>
        <button type="button" class="button button-outline-primary w-100" (click)="modal.close('Save click')">
            Annuler
        </button>
    </div>
</ng-template>
