<div class="panel-form">
    <div class="panel-form-header">
        <div class="panel-form-text">
            <h3>Nouvelle Recrutement</h3>
        </div>
    </div>
    <div class="panel-list-body">
        <form>
            <div class="row g-4">
                <div class="col-sm-6">
                    <label class="form-label">Libelle Annonce</label>
                    <input type="text" class="form-control" placeholder="Saisir" />
                </div>
               
                <div class="col-sm-6">
                    <label class="form-label">Date de publication</label>
                    <input type="date" class="form-control" placeholder="Saisir" />
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Image <span class="text-danger fw-bold">*</span></label>
                    <ngx-dropzone (change)="onSelectFiles($event, piecesJointesFiles)">
                        <ngx-dropzone-label>
                            <i class="material-icons">cloud_upload</i>
                            <p class="fw-semibold">Sélectionner les fichiers</p>
                            <small>ou glisser et déposer les fichiers</small>
                        </ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of piecesJointesFiles" [removable]="true"
                            (removed)="onRemoveFile(f, piecesJointesFiles)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                </div>
                
                <div class="col-sm-6">
                    <label class="form-label">Commentaire(infos annonce) <span class="text-danger fw-bold">*</span></label>
                    <textarea class="form-control" cols="30" rows="7" placeholder="Saisir"></textarea>
                </div>

            </div>
            <!-- ACTIONS -->
            <div class="row g-3 mt-2">
                <div class="col-lg-2 col-sm-6">
                    <button class="button button-primary w-100" type="button" (click)="onSave()">
                        Publier
                    </button>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <button class="button button-outline-primary w-100" type="reset" (click)="onReset()">
                        Annuler
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>