<div class="panel-list">
    <div class="panel-list-header">
        <div class="panel-list-text" style="align-items: flex-start;">
           <div>
            <h3>Tableau de suivi - Formation {{formation.reference}}</h3>
            <ul class="panel-infos">
                <li>
                    <span>Type de formation : </span>
                    <span>{{formation?.typeFormation?.libelle}}</span>
                </li>
                <li>
                    <span>Thème : </span>
                    <span>{{formation?.themeFormation?.libelle}}</span>
                </li>
                <li>
                    <span>Durée : </span>
                    <span>{{formation.duree}}</span>
                </li>
                <li>
                    <span>Date de début : </span>
                    <span>{{formation.dateDebut}}</span>
                </li>
            </ul>
           </div>
            <button class="button button-primary" type="button" (click)="onCreateTableauSuivi()">
                <i class="fa fa-add"></i>
                Nouveau tableau de suivi
            </button>
        </div>
        <div class="panel-list-search">
            <div class="search">
                <div class="search-box">
                    <input class="search-input" type="text" placeholder="Rechercher">
                    <button class="search-btn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-list-body">
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-custom">
                <thead>
                    <tr class="table-light">
                        <th scope="col" *ngFor="let head of headers">{{ head }}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="tableauList.length > 0;else listEmpty;">
                        <tr *ngFor="let tableau of tableauList">
                            <td>
                                {{ tableau.formation.reference }}
                            </td>
                            <td>
                                {{ tableau.formation.intitule }}
                            </td>
                            <td>
                                {{ tableau.formation.dateDebut }}
                            </td>
                            <td>
                                {{ tableau.formation.dateFin }}
                            </td>
                            <td>
                                {{ tableau.nbrSession }}
                            </td>
                            <td>
                                {{ tableau.presences }}
                            </td>
                            <td>
                                {{ tableau.abscences }}
                            </td>
                            <td>
                            <div class="dropdown">
                                <button class="fab-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" (click)="onViewDetail(tableau)">
                                            <i class="fa fa-eye me-2"></i>
                                            <span>Voir détails</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #listEmpty>
                        <tr>
                            <td [attr.colspan]="headers.length">
                                <p class="text-black-50 text-center m-0">Aucune donnée disponible</p>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>

        <!-- PAGINATION -->
        <div class="flex-row-between">
            <div class="d-flex align-items-center">
                <span style="white-space: nowrap">Affichage par</span>
                <select class="form-select form-select-sm mx-2 form-select-filter" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshData()">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="30">30</option>
                </select>
                <span style="white-space: nowrap">entrées</span>
            </div>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="refreshData()" [maxSize]="2" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>
</div>
