<div class="panel-list">
    <div class="panel-list-header">
        <div class="panel-list-text">
            <h3>Liste divisions</h3>
            <ng-container *ngIf="(this.userInfos?.profil[0]?.code === 'ADMIN-DRH' || this.userInfos?.profil[0]?.code === 'Directeur-DRH')">
                <button class="button button-primary" type="button" (click)="openModalAddAgent(Add_dossier, null)">
                    <i class="fa fa-add"></i>
                    Nouvelle Division
                </button>
            </ng-container>

        </div>
        <div class="panel-list-search">
            <div class="search">
                <div class="search-box">
                    <input class="search-input" type="text" placeholder="Rechercher">
                    <button class="search-btn"><i class="fas fa-search"></i></button>
                </div>
                <select class="form-select" (change)="onStatusChange($event)">
                    <option value="">Tous les status</option>
                    <option value="true">Actif</option>
                    <option value="false">Inactif</option>
                </select>
            </div>
        </div>
    </div>
    <div class="panel-list-body">
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-custom">
                <thead>
                    <tr class="table-light">
                        <th scope="col" *ngFor="let head of headers">{{ head }}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="divisionList.length > 0;else listEmpty;">
                        <tr *ngFor="let division of divisionList">


                            <td>
                                {{ division?.direction?.label }}
                            </td>
                            <td>
                                {{ division?.label }}
                            </td>
                            <td>
                                <div [appStatus]="division.statut" class="status-badge"
                                    (click)="changeStatus(division)"></div>
                            </td>
                            <ng-container *ngIf="(this.userInfos?.profil[0]?.code === 'ADMIN-DRH' || this.userInfos?.profil[0]?.code === 'Directeur-DRH'); else noAction">
                                <td>
                                    <div class="dropdown">
                                        <button class="fab-button" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li *ngIf="division.statut">
                                                <a class="dropdown-item" href="javascript:(0)"
                                                   (click)="changeStatus(division)">
                                                    <i class="fa fa-lock me-2" title="Activer" id="status"
                                                       type="button"></i>
                                                    <span>Désactiver</span>
                                                </a>
                                            </li>
                                            <li *ngIf="!division.statut">
                                                <a class="dropdown-item" href="javascript:(0)"
                                                   (click)="changeStatus(division)">
                                                    <i class="fa fa-lock-open me-2" title="Activer" id="status"
                                                       type="button"></i>
                                                    <span>Activer</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="javascript:(0)" (click)="openModalAddAgent(Edit, division)">
                                                    <i class="fa fa-edit me-2" title="modifier" type="button"></i>
                                                    <span>Modifier</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </ng-container>



                            <ng-template #noAction>
                                <td></td>
                            </ng-template>

                        </tr>
                    </ng-container>
                    <ng-template #listEmpty>
                        <tr>
                            <td [attr.colspan]="headers.length">
                                <p class="text-black-50 text-center m-0">Aucune donnée disponible</p>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <!-- PAGINATION -->
        <div class="flex-row-between">
            <div class="d-flex align-items-center">
                <span style="white-space: nowrap">Affichage par</span>
                <select class="form-select form-select-sm mx-2 form-select-filter" [(ngModel)]="pageSize"
                        (ngModelChange)="refreshData()">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="30">30</option>
                </select>
                <span style="white-space: nowrap">entrées</span>
            </div>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="totalPages" [pageSize]="size"
                            (click)="refreshData1($event)" [maxSize]="2" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>
</div>

<ng-template #Add_dossier let-modal>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="addDossier">Création de division</h1>
    </div>
    <div class="modal-body py-md-3">
        <form [formGroup]="divisionForm">
            <div class="row g-3">
                <div class="col-lg-12">
                    <label class="form-label">Direction</label>
                    <select class="form-select"  formControlName="direction">
                        <option value='DRH' selected>DRH</option>

                    </select>
                </div>
                <div class="col-lg-12">
                    <label class="form-label">Libellé division</label>
                    <input type="text" class="form-control" placeholder="Saisir" formControlName="label"  />
                </div>

                <div class="col-lg-12">
                    <label class="form-label">Sigle division</label>
                    <input type="text" class="form-control" placeholder="Saisir" formControlName="code"  />
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="submit" class="button button-primary " (click)="onAddDivision()" [disabled]="divisionForm?.invalid">Enregistrer</button>
        <button type="button" class="button button-outline-primary W-100" (click)="modal.close()">
            Annuler
        </button>
    </div>
</ng-template>



<ng-template #Edit let-modal>
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="addDossier">Modifier une division</h1>
    </div>
    <div class="modal-body py-md-3">
        <form [formGroup]="divisionForm">
            <div class="row g-3">
                <div class="col-lg-12">
                    <label class="form-label">Direction</label>
                    <select class="form-select"  formControlName="direction">
                        <option value='DRH' selected>DRH</option>

                    </select>
                </div>
                <div class="col-lg-12">
                    <label class="form-label">Libellé division</label>
                    <input type="text" class="form-control" placeholder="Saisir" formControlName="label"  />
                </div>

                <div class="col-lg-12">
                    <label class="form-label">Code division</label>
                    <input type="text" class="form-control" placeholder="Saisir" formControlName="code"  />
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="submit" class="button button-primary " (click)="onUpdateDirecion()" [disabled]="divisionForm?.invalid">Modifier</button>
        <button type="button" class="button button-outline-primary W-100" (click)="modal.close()">
            Annuler
        </button>
    </div>
</ng-template>
