<div class="login-content">
  <div class="login-form">
    <h2 class="login-title">Mot de passe oublié</h2>
    <p class="login-text">Bienvenue merci de remplir vos informations </p>
    <br>
    <form [formGroup]="forgetPasswordForm" >
      <div class="row g-4">
        <div class="col-sm-12">
          <label class="form-label">Identifiant</label>
          <input type="text"

                 class="form-control" placeholder="Saisir" formControlName="login">
        </div>
        <div class="col-md-12">
          <button class="w-100" id="button-login" type="button" (click)="onForgetPassword()" [disabled]="forgetPasswordForm.invalid">Soumettre</button>
        </div>
        <div class="col-md-12">
          <button class="w-100" id="button-reset" type="button" [routerLink]="['/auth/login']">Annuler</button>
        </div>
      </div>
    </form>
  </div>
</div>
