<div class="panel-form">
    <div class="panel-form-header">
        <div class="panel-form-text">
            <h3>Modifer l'acte N° {{acte?.referenceActe}}</h3>
            <div *ngIf="acte?.statutActe?.code=='AMODIFIER'" id="motif-modification">
                <h6 class="title-motif">Motif de modification</h6>
                <p>{{acte?.motifModification}}</p>
            </div>
        </div>
    </div>
    <div class="panel-list-body">
        <form [formGroup]="editActeForm">
                        <div class="row g-3">
                            <div class="col-sm-4">
                                <label class="form-label">Acte</label>
                                <select class="form-select" formControlName="acte" [(ngModel)]="typeSelectionne" (change)="onchangeActe($event)"id="acte">
                                    <option [value]="" >Sélectionner</option>
                                    <option value="aa">Acte Administratif</option>
                                    <option value="ag">Acte de Gestion</option>
                                </select>
                                <div style="color: red" *ngIf="f['acte'].touched && f['acte'].hasError('required')">Acte <strong>obligatoire!</strong></div>

                            </div>
                        
                            <div class="col-sm-4">
                                <label class="form-label">Type d'acte</label> 
                                <select class="form-select" id="typeActe" formControlName="typeActe" [ngModel]="typeActeSelected">
                                    <!-- <option [value]="acte.typeActe.codeActe==='aa' ? acte.typeAA.code:acte.typeAG.code" active >{{acte.typeActe.codeActe==='aa' ? acte.typeAA.libelle:acte.typeAG.libelle }}</option> -->
                                    <option [value]="">Sélectionner</option>
                                    <option *ngFor="let typeActe of actes" [value]="typeActe.libelle">{{ typeActe.libelle }}</option>
                                </select>
                                <div style="color: red" *ngIf="f['typeActe'].touched && f['typeActe'].hasError('required')">Type Acte <strong>obligatoire!</strong></div>

                            </div>
                        </div>
            <div class="row g-3">
                <div class="col-sm-4">
                    <label class="form-label">Matricule</label>
                    <input type="text" class="form-control" value={{acte?.agent?.matricule}} disabled="true" />
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Prénom</label>
                    <input type="text" class="form-control" value={{acte?.agent?.prenom}} disabled="true" />
                </div>
                <div class="col-sm-4">
                    <label class="form-label">Nom</label>
                    <input type="text" class="form-control" value={{acte?.agent?.nom}} disabled="true" />
                </div>

                <!-- *ngIf="userDTO?.typeUser ==='CEN'" -->
                <ng-container *ngIf="acte?.agent?.typeUser==='CEN'">
                    <div class="col-sm-4">
                        <label class="form-label">Direction</label>
                        <input type="text" class="form-control" value={{acte?.agent?.direction?.label}} disabled="true" />
                    </div>

                    <!-- *ngIf="userDTO?.direction?.code ==='AUD'" -->
                    <ng-container *ngIf="acte?.direction?.code ==='AUD'"  >
                        <div class="col-sm-4">
                            <label class="form-label">Service</label>
                            <input type="text" class="form-control" value={{acte?.agent?.service?.label}} disabled="true" />
                        </div>
                    </ng-container>

                    <!-- *ngIf="userDTO?.direction?.code ==='DRH'" -->
                    <ng-container *ngIf="acte?.direction?.code ==='DRH'" >
                        <div class="col-sm-4">
                            <label class="form-label">Division</label>
                            <input type="text" class="form-control" value={{acte?.agent?.division?.label}} 
                                disabled="true" />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Bureau</label>
                            <input type="text" class="form-control" value={{acte?.agent?.bureau?.label}}  disabled="true" />
                        </div>
                    </ng-container>
                </ng-container>

                <!-- *ngIf="userDTO?.typeUser=='DEC'" -->
                <ng-container *ngIf="acte?.agent?.typeUser=='DEC'">
                    <div class="col-sm-4">
                        <label class="form-label">Etablissement/CFP/EFF</label>
                        <input type="text" class="form-control"
                        value={{acte?.agent?.etablissement?.label}}  disabled="true" />
                    </div>
                </ng-container>


                <div class="col-sm-4">
                    <label class="form-label">Téléphone</label>
                    <input type="text" class="form-control" value={{acte?.agent?.telephone}}  disabled="true" />
                </div>
                <div class="col-sm-12">
                    <label class="form-label">Pièces Justificatives</label>
                    <ngx-dropzone (change)="onSelect($event)" formControlName='file' class="">
                        <ngx-dropzone-label>Glisser et déposer le fichier</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <div *ngIf="editActeForm.get('file')?.invalid && (editActeForm.get('file')?.dirty || editActeForm.get('file')?.touched)" class="text-danger">
                        Pièce jointe requise
                    </div>
                    
                </div>
                <div class="col-sm-12">
                    <label class="form-label">Commentaire</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="commentaire"
                        rows="3"></textarea>
                </div>
            </div>
            <!-- ACTIONS -->
            <div class="row g-3 mt-2">
                <div class="col-lg-2 col-sm-6">
                    <button class="button button-primary w-100" type="button" [disabled]="editActeForm.invalid" (click)="onSaveDemande()">Soumettre</button>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <button class="button button-outline-primary w-100" type="reset" (click)="onReset()">Annuler</button>
                </div>
            </div>

        </form>
    </div>
</div>