<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <span class="logo-name">SIGRH</span>
                <!-- <img src="assets/icons/logo-ministere-white.svg" class="img-fluid logo mb-3" alt="SIGRH" title="SIGRH"> -->
                <p class="text-white-50">Système Intégré de Gestion des Ressources Humaines</p>
            </div>
            <div class="col-lg-2">
                <h6 class="fw-semibold">Menu</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0">Accueil</a></li>
                    <li class="nav-item mb-2"><a routerLink="/recrutement" class="nav-link p-0">Recrutement</a>
                    </li>
                    <li class="nav-item mb-2"><a routerLink="/actualites" class="nav-link p-0">Actualités</a>
                    </li>
                    <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0">Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h6 class="fw-semibold">Liens utiles</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a routerLink="/formations/plan-formation" class="nav-link p-0">Plan formation</a></li>
                    <li class="nav-item mb-2"><a routerLink="/formations/formation-continue" class="nav-link p-0">Formation continue</a></li>
                    <li class="nav-item mb-2"><a routerLink="/formations/formation-diplomante" class="nav-link p-0">Formation diplômante</a></li>
                    <li class="nav-item mb-2"><a [href]="backofficeUrl + '#/auth/login'" class="nav-link p-0">Se connecter</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h6 class="fw-semibold">Contact</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="tel:+338650794" class="nav-link p-0">
                            <i class="fa fa-phone me-2"></i>
                        (+221) 33 865 70 00
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="mailto:www.contact@mfpai.sn" class="nav-link p-0">
                            <i class="fa fa-envelope me-2"></i>
                            www.contactmfpai.sn
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://maps.app.goo.gl/yBkmaCQZMJ2JDb569"
                            target="_blank" class="nav-link p-0">
                            <i class="fa fa-map-location me-2"></i>
                        Dakar,Sénégal
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="content-copy">
                <p class="text p-0 m-0">© 2024 MFP. Tous droits réservés.</p>

                <div class="mention-legal">
                    <a>Mention légales </a>
                    <div class="sep"></div>
                    <a>Politique de confidentialité</a>
                </div>

                <div class="reseaux">
                    <a href="javascript:(0)">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="javascript:(0)">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="javascript:(0)">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="javascript:(0)">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>