<div class="panel-form">
    <div class="panel-form-header">
        <div class="panel-form-text">
            <h3>Modifier {{ etablissementForm?.get('label')?.value || 'Établissement' }}</h3>
        </div>
    </div>
    <div class="panel-list-body">
        <form [formGroup]="etablissementForm">
            <div class="row g-4">
                <!-- Région -->
                <div class="col-sm-6">
                    <label class="form-label">Région</label>
                    <select class="form-select" formControlName="region"
                            (change)="onRegionChange($any($event.target).value)">
                        <option value="">Sélectionner</option>
                        <option *ngFor="let reg of region" [value]="reg?.code">
                            {{ reg?.label }}
                        </option>
                    </select>
                </div>

                <!-- IA -->
                <div class="col-sm-6">
                    <label class="form-label">IA</label>
                    <select class="form-select" formControlName="ia"
                            (change)="onIaChange($any($event.target).value)">
                        <option value="">Sélectionner</option>
                        <option *ngFor="let ia of iA" [value]="ia?.code">
                            {{ ia?.label }}
                        </option>
                    </select>
                </div>

                <!-- Type établissement -->
                <div class="col-sm-6">
                    <label class="form-label">Type établissement</label>
                    <select class="form-select" formControlName="typeEtablissement"
                            (change)="onTypeEtablissementChange($any($event.target).value)">
                        <option value="">Sélectionner</option>
                        <option *ngFor="let typeEtab of typeEtablissement" [value]="typeEtab?.code">
                            {{ typeEtab?.label }}
                        </option>
                    </select>
                </div>

                <!-- IEF (visible seulement si type établissement est CFP) -->
                <ng-container *ngIf="etablissementForm.get('typeEtablissement')?.value === 'CFP'">
                    <div class="col-sm-6">
                        <label class="form-label">IEF</label>
                        <select class="form-select" formControlName="ief">
                            <option value="">Sélectionner</option>
                            <option *ngFor="let ief of iEF" [value]="ief?.code">
                                {{ ief?.label }}
                            </option>
                        </select>
                    </div>
                </ng-container>

                <!-- Type système enseignement (visible pour CFP et Lycée) -->
                <ng-container *ngIf="etablissementForm.get('typeEtablissement')?.value === 'CFP' || etablissementForm.get('typeEtablissement')?.value === 'LYC'">
                    <div class="col-sm-6">
                        <label class="form-label">Type système enseignement</label>
                        <select class="form-select" formControlName="typeSystemeEnseignement">
                            <option value="">Sélectionner</option>
                            <option *ngFor="let typeSysEns of typeSystemeEnseignement" [value]="typeSysEns?.code">
                                {{ typeSysEns?.label }}
                            </option>
                        </select>
                    </div>
                </ng-container>

                <!-- Label EFF -->
                <div class="col-sm-6">
                    <label class="form-label">Label EFF</label>
                    <input type="text" class="form-control" placeholder="Saisir"
                           formControlName="label" />
                </div>

                <!-- Code EFF -->
                <div class="col-sm-6">
                    <label class="form-label">Code EFF</label>
                    <input type="text" class="form-control" placeholder="Saisir"
                           formControlName="code" />
                </div>

                <!-- ACTIONS -->
                <div class="row g-3 mt-2">
                    <div class="col-lg-2 col-sm-6">
                        <button class="button button-primary w-100" 
                                type="button" 
                                (click)="onSave()" 
                                [disabled]="etablissementForm?.invalid">
                            Enregistrer
                        </button>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <button class="button button-outline-primary w-100" 
                                type="button" 
                                (click)="onCancel()">
                            Annuler
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
