.ng2-tag-input-dropdown {
top: inherit !important;
    left: inherit !important;
}

tag-input tag-input-dropdown /deep/ ng2-dropdown div.ng2-dropdown-menu {
    top: inherit !important;
    left: inherit !important;
}