<div class="panel-list">
    <div class="panel-list-header">
        <div class="panel-list-text">
            <h3>Liste des PTA</h3>
            <!--ng-container-->
            <ng-container *ngIf="this.userInfos?.profil[0]?.code === 'Coordinateur'" >
                <button class="button button-primary" type="button" (click)="openModal(FORM_CREATION_PTA)">
                    <i class="fa fa-add"></i>
                    Nouveau PTA
                </button>
            </ng-container>

        </div>
        <div class="panel-list-search">
            <div class="search">
                <form [formGroup]="searchForm">
                    <div class="search-box">
                        <input class="search-input" (keyup)="onSearchAll()"  type="text" formControlName="filterValue" placeholder="Rechercher">
                        <button class="search-btn"><i class="fas fa-search"></i></button>
                    </div>
                </form>

            </div>
            <button type="button" class="button-filter" (click)="openModal(FILTRE_AVANCER)">
                <i class="fa fa-filter"></i>
                Filtre avancé</button>
        </div>
    </div>
    <div class="panel-list-body">
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-custom">
                <thead>
                    <tr class="table-light">
                        <th scope="col" *ngFor="let head of headers">{{ head }}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="ptaList.length > 0;else listEmpty;">
                        <tr *ngFor="let pta of ptaList">
                            <td>
                                {{ pta?.initialPTA?.numeroPTA }}
                            </td>
                            <td>
                                {{ pta?.initialPTA?.nomPTA }}
                            </td>
                            <td>
                                {{ pta?.initialPTA?.date }}
                            </td>
                            <td>
                                {{ pta?.actionPTAs?.length  || 0 }}
                            </td>

                            <td>
                                <div class="dropdown">
                                    <button class="fab-button" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li  *ngIf="this.userInfos?.profil[0]?.code === 'Coordinateur'" >
                                        <!-- li -->
                                            <a class="dropdown-item" href="javascript:(0)"
                                                (click)="onCreateAction(pta)">
                                                <i class="fa fa-plus me-2"></i>
                                                <span>Créer une action</span>
                                            </a>
                                        </li>
                                        <li  *ngIf="this.userInfos?.profil[0]?.code === 'Coordinateur'">
                                        <!-- li-->
                                            <a class="dropdown-item" href="javascript:(0)"
                                                (click)="onEditPTA(pta)">
                                                <i class="fa fa-edit me-2"></i>
                                                <span>Modifier</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:(0)"
                                                (click)="onViewPTA(pta)">
                                                <i class="fa fa-eye me-2"></i>
                                                <span>Voir détails</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    </ng-container>
                    <ng-template #listEmpty>
                        <tr>
                            <td [attr.colspan]="headers.length">
                                <p class="text-black-50 text-center m-0">Aucune donnée disponible</p>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>

        <!-- PAGINATION -->
        <div class="flex-row-between">
            <div class="d-flex align-items-center">
                <span style="white-space: nowrap">Affichage par</span>
                <select class="form-select form-select-sm mx-2 form-select-filter" [(ngModel)]="size"
                    (ngModelChange)="refreshData($event)">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="30">30</option>
                </select>
                <span style="white-space: nowrap">entrées</span>
            </div>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="totalPages" [pageSize]="size"
                (click)="refreshData1($event)" [maxSize]="2" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>


    <!-- Modal -->
    <ng-template #FILTRE_AVANCER let-modal>
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="FILTRE_AVANCERLabel">Recherche avancée</h1>
        </div>
        <div class="modal-body py-md-3">
            <form [formGroup]="advancedSearchForm" (ngSubmit)="onAdvancedSearchForm()">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label class="form-label">N° pta</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="numPta">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Libelle</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="libelle">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Responsable Activité</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="responssable">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Divisions impliques</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="division">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Date début</label>
                        <input type="date" class="form-control" placeholder="Saisir" formControlName="debut">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Date fin</label>
                        <input type="date" class="form-control" placeholder="Saisir" formControlName="fin">
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="button button-secondary" (click)="onSearch()">Rechercher</button>
            <button type="button" class="button button-outline-primary" (click)="modal.close('Save click')">
                Annuler
            </button>
        </div>
    </ng-template>

    <ng-template #FORM_CREATION_PTA let-modal>
        <div class="modal-header">
            <h1 class="modal-title fs-5">Création plan de travail</h1>
        </div>
        <div class="modal-body py-md-3">
            <form [formGroup]="initPtaFormGroup">
                <div class="row g-3">
                    <div class="col-lg-12">
                        <label class="form-label">Nom du PTA</label>
                        <input type="text" class="form-control"
                               formControlName="nomPTA"
                               placeholder="Saisir (Ex: Plan de Travail Annuel de la DRH 2024)" formGroupName="nomPTA">
                    </div>
                    <div class="col-lg-12" formGroupName="direction">
                        <label class="form-label">Direction</label>
                        <select class="form-select" formControlName="code">
                            <option value="">Sélectionner</option>
                            <option *ngFor="let dir of direction" [value]="dir.code">{{dir?.label}}</option>
                        </select>
                    </div>
                    <div class="col-lg-12">
                        <label class="form-label">Date</label>
                        <input type="date" class="form-control" placeholder="Saisir"  formControlName="date">
                    </div>
                </div>
            </form>
        </div>
    
        <div class="modal-footer">
            <button type="button" class="button button-primary" (click)="onCreatePTA()">Enregistrer</button>
            <button type="button" class="button button-outline-primary" (click)="modal.close('Save click')">
                Annuler
            </button>
        </div>
    </ng-template>
</div>