<aside class="section-page">
    <div class="container">
        <h3 class="title-page">Recrutement</h3>
    </div>
</aside>

<section class="container my-5">
    <div class="row g-3">
        <div class="col-lg-6" *ngFor="let item of recrutement">
            <div class="card card-horiz h-100" (click)="onViewRecrutement(item.id)">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img
                            [src]="'data:' + item.image.fileType + ';base64,' + item.image.base64"
                            alt="{{item.image.fileType}}"
                            class="img-fluid rounded-start h-100"                    
                        />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ item?.titre }}</h5>
                            <p class="card-desc text-muted">{{ item?.resume }}</p>
                            <p class="card-text"><small class="text-muted"><i class="fa fa-calendar-alt"></i> {{
                                    item?.datePublication |  date : 'dd/MM/yyyy'
                                    }}</small></p>

                            <button class="button button-primary" type="button" (click)="onViewRecrutement(item.id)">Lire
                                l'article</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>