<div class="login-content">
  <div class="login-form">
    <h2 class="login-title">Réinitialisation du mot de passe</h2>
    <p class="login-text">le mot de passe doit contenir au moins 8 caractères dont <b><i>(1 lettre majuscule, 1 lettre
          miniscule, 1 chiffre, 1 caractère spécial)</i></b></p>
    <br>
    <form [formGroup]="resetPasswordForm">
      <div class="row g-4">
        <div class="col-sm-12">
          <label class="form-label">Nouveau mot de passe</label>
          <div class="input-group input-custom-group" #password>
            <input [type]="hide ? 'password' : 'text'" autocomplete="on" class="form-control" placeholder="*******" formControlName="password">
            <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <i class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</i>
            </button>
          </div>
        </div>

        <div class="col-sm-12">
          <label class="form-label">Confirmez mot de passe</label>
          <div class="input-group input-custom-group" #passwordConfirmed>
            <input [type]="hideConfirmPassword ? 'password' : 'text'" autocomplete="on" class="form-control"
              placeholder="*******" formControlName="passwordConfirmed">
            <button mat-icon-button type="button" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
              <i class="material-icons">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</i>
            </button>
          </div>
        </div>
        <div class="col-md-12">
          <button class="w-100" id="button-login" type="button" (click)="onResetPassword()" [disabled]="resetPasswordForm.invalid"  >Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
