<div class="panel-form">
    <div class="panel-form-header">
        <div class="panel-form-text flex-column align-items-start w-100">
            <h3>Liste des matières présentants des déficits</h3>

            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Matières présentant des déficits">
                    <div class="py-3">
                        <div class="panel-list-search">
                            <div class="search">
                                <div class="search-box">
                                    <input class="search-input" type="text" placeholder="Rechercher"
                                        [(ngModel)]="searchQuery">
                                    <button class="search-btn"><i class="fas fa-search"></i></button>
                                </div>
                                <select class="form-select" (change)="rechercherParDiscipline($event)">
                                    <option value="">Tous les discipline</option>
                                    <option *ngFor="let discipline of listDisciplines" value="{{discipline.libelle}}">
                                        {{discipline.libelle}}</option>

                                </select>
                            </div>

                        </div>
                        <div class="panel-list-body">
                            <!-- Table -->
                            <div class="table-responsive">
                                <table class="table table-custom">
                                    <thead>
                                        <tr class="table-light">
                                            <th scope="col" *ngFor="let head of headers">{{ head }}</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="listDisciplineDeficitaire.length > 0;">
                                            <tr *ngFor="let deficit of listDisciplineDeficitaire">
                                                <ng-container *ngIf="matchSearchQuery(deficit)">
                                                    <td>
                                                        {{ deficit.discipline.libelle }}
                                                    </td>
                                                    <td>
                                                        {{ deficit.totalHeuresDispensee }}
                                                    </td>
                                                    <td>
                                                        {{ deficit.totalHeuresAttribuees }}
                                                    </td>
                                                    <td>
                                                        {{ deficit.totalHeuresDispensee - deficit.totalHeuresAttribuees
                                                        }}
                                                    </td>

                                                </ng-container>

                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>

                            <!-- PAGINATION -->
                            <div class="flex-row-between">
                                <div class="d-flex align-items-center">
                                    <span style="white-space: nowrap">Affichage par</span>
                                    <select class="form-select form-select-sm mx-2 form-select-filter"
                                        [(ngModel)]="pageSize" (ngModelChange)="getDisciplineAyantDeficit()">
                                        <option [ngValue]="10">10</option>
                                        <option [ngValue]="20">20</option>
                                        <option [ngValue]="30">30</option>
                                    </select>
                                    <span style="white-space: nowrap">entrées</span>
                                </div>
                                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                    (pageChange)="getDisciplineAyantDeficit()" [maxSize]="2" [rotate]="true"
                                    [boundaryLinks]="true">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Horaire professeurs">
                    <div class="py-3">
                        <div class="panel-list-search">
                            <div class="search">
                                <div class="search-box">
                                    <input class="search-input" type="text" placeholder="Rechercher"
                                        [(ngModel)]="searchQuery1">
                                    <button class="search-btn"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            <button type="button" class="button-filter" (click)="openModalSearch(filterAvancer)">
                                <i class="fa fa-filter"></i>
                                Filtre avancé</button>
                        </div>
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-custom">
                                <thead>
                                    <tr class="table-light">
                                        <th scope="col" *ngFor="let head of headers2">{{ head }}</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <ng-container *ngIf="listHoraireProfs.length > 0; else listEmpty ">
                                        <tr *ngFor="let Horaire of listHoraireProfs">
                                            <ng-container *ngIf="matchSearchQuery2(Horaire)">
                                                <td>
                                                    {{ Horaire?.professeur?.matricule }}
                                                </td>
                                                <td>
                                                    {{ Horaire?.professeur?.prenom + ' '+ Horaire?.professeur?.nom }}
                                                </td>
                                                <td>
                                                    {{ Horaire?.nbreClasse }}
                                                </td>
                                                <td>
                                                    {{ Horaire?.nbrDiscipline }}
                                                </td>
                                                <td>
                                                    {{ Horaire?.professeur?.quantumHoraire }}
                                                </td>
                                                <td>
                                                    {{ Horaire?.heuresDispensees }}
                                                </td>



                                                <td>
                                                    <div class="dropdown">
                                                        <button class="fab-button" type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a class="dropdown-item" href="javascript:(0)"
                                                                    (click)="onViewdeatailst(Horaire.professeur.id)">
                                                                    <i class="fa fa-eye me-2"></i>
                                                                    <span>Voir details</span>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                    <ng-template #listEmpty>
                                        <tr>
                                            <td [attr.colspan]="headers.length">
                                                <p class="text-black-50 text-center m-0">Aucune donnée disponible</p>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                        </div>

                        <!-- PAGINATION -->
                        <div class="flex-row-between">
                            <div class="d-flex align-items-center">
                                <span style="white-space: nowrap">Affichage par</span>
                                <select class="form-select form-select-sm mx-2 form-select-filter"
                                    [(ngModel)]="pageSize2" (ngModelChange)=" getProfsHoraires()">
                                    <option [ngValue]="10">10</option>
                                    <option [ngValue]="20">20</option>
                                    <option [ngValue]="30">30</option>
                                </select>
                                <span style="white-space: nowrap">entrées</span>
                            </div>
                            <ngb-pagination [collectionSize]="collectionSize2" [(page)]="page2" [pageSize]="pageSize2"
                                (pageChange)=" getProfsHoraires()" [maxSize]="2" [rotate]="true" [boundaryLinks]="true">
                            </ngb-pagination>
                        </div>
                    </div>
                </mat-tab>


            </mat-tab-group>
        </div>
    </div>


    <!-- Modal -->
    <ng-template #filterAvancer let-modal>
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="filterAvancerLabel">Recherche avancée</h1>
        </div>
        <div class="modal-body py-md-3">
            <form [formGroup]="reachForm">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label class="form-label">Matricule</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="matricule" />
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Nom complet</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="nomComplet" />
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="button button-secondary w-100"
                (click)="onSearch();modal.close('Save click')">Rechercher</button>
            <button type="button" class="button button-outline-primary w-100" (click)="modal.close('Save click')">
                Annuler
            </button>
        </div>
    </ng-template>