<div class="panel-form">
    <div class="panel-form-header">
        <div class="panel-form-text">
            <h3>Nouvel établissement</h3>
        </div>
    </div>
    <div class="panel-list-body">
        <form [formGroup]="etablissementForm">
            <div class="row g-4">
                <div class="col-sm-6">
                    <label class="form-label">Structure</label>
                    <select class="form-select" #typeStructureValue formControlName="structure"
                        (change)="getStruct($any($event.target).value)">

                        <option value="">Sélectionner</option>
                        <option *ngFor="let struc of structure" [value]="struc?.code">{{struc?.label}}</option>
                    </select>
                </div>


                <ng-container *ngIf="typeStructureValue.value === 'IA'">
                    <div class="col-sm-6">
                        <label class="form-label">Région</label>
                        <select class="form-select" name="bureau" formControlName="region"
                            (change)="getListIA($any($event.target).value); ">
                            <option value="" selected>Sélectionner</option>
                            <option *ngFor="let reg of region" [value]="reg?.code"> {{ reg?.label }}</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">IA</label>
                        <select class="form-select" formControlName="ia" (change)="getListEF($any($event.target).value);
                    getListEtabByIA($any($event.target).value)">
                            <option value="" selected>Sélectionner</option>
                            <option value="" *ngFor="let ia of iA" [value]="ia?.code"> {{ ia?.label }}</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Type établissement</label>
                        <select class="form-select" #typeEtablissementCheck formControlName="typeEtablissement">
                            <option value="" selected>Sélectionner</option>
                            <option value="" *ngFor="let typeEtab of typeEtablissement" [value]="typeEtab?.code"> {{
                                typeEtab?.label }}</option>
                        </select>
                    </div>


                    <ng-container *ngIf="typeEtablissementCheck.value === 'CFP'">
                        <div class="col-sm-6">
                            <label class="form-label">IEF</label>
                            <select class="form-select" formControlName="ief">
                                <option value="" selected>Sélectionner</option>
                                <option value="" *ngFor="let ief of iEF" [value]="ief?.code"> {{ ief?.label }}</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label class="form-label">Type établissement</label>
                            <select class="form-select" #typeEtablissementCheck formControlName="typeEtablissement"
                                (change)="getTypeSystemeEnseignement($any($event.target).value)">
                                <option value="" selected>Sélectionner</option>
                                <option value="" *ngFor="let typeEtab of typeEtablissement" [value]="typeEtab?.code"> {{
                                    typeEtab?.label }}</option>
                            </select>
                        </div>

                    </ng-container>

                    <div class="col-sm-6">
                        <label class="form-label">Type système enseignement</label>
                        <select class="form-select" formControlName="typeSystemeEnseignement">
                            <option value="" selected>Sélectionner</option>
                            <option *ngFor="let typeSysEns of typeSystemeEnseignement" [value]="typeSysEns?.code">
                                {{ typeSysEns?.label }}</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Libellé Etablissment</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="label" />
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Code Etablissment</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="code" />
                    </div>
                </ng-container>

                <ng-container *ngIf="typeStructureValue.value === 'MIN'">
                    <div class="col-sm-6">
                        <label class="form-label">Libellé Etablissment</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="label" />
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Sigle Etablissment</label>
                        <input type="text" class="form-control" placeholder="Saisir" formControlName="code" />
                    </div>
                </ng-container>

                <!-- ACTIONS -->
                <div class="row g-3 mt-2">
                    <div class="col-lg-2 col-sm-6">
                        <button class="button button-primary w-100" type="button" (click)="onSave()"
                            [disabled]="etablissementForm?.invalid">
                            Enregistrer
                        </button>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <button class="button button-outline-primary w-100" type="reset">
                            Annuler
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
